<div class="player bg-dark" [ngClass]="{'player-open': !(!station)}">
  <div class="d-flex">
    <div class="mr-auto p-2">
      <h2 *ngIf="!(!station)" [routerLink]="['/history', station.stationuuid]" class="clickable">{{ station.name }}</h2>
    </div>
    <div class="p-2" *ngIf="!(!station)">
      <button class="float-right" (click)="player.stop()" class="btn btn-success">
        Stop
      </button>
    </div>
  </div>
  <video #video></video>
</div>
